<?xml version="1.0" encoding="UTF-8"?>
<!--
    Ask for a signature and store as base64 in database
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>signature</name>
        <type>question_theme</type>
        <title>Signature Pad</title>
        <creationDate>2023-05-29</creationDate>
        <lastUpdate>2023-05-29</lastUpdate>
        <author>Adam Zammit</author>
        <authorUrl>https://www.acspri.org.au/</authorUrl>
        <authorEmail>adam.zammit@acspri.org.au</authorEmail>
        <copyright>Copyright (C) 2023 Australian Consortium for Social and Political Research Incorporated (ACSPRI)</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0.2</version>
        <apiVersion>1</apiVersion>
        <lastSecurityUpdate>1.0.2</lastSecurityUpdate>
        <questionType>S</questionType>
        <group>Text questions</group>
        <description>Collect a signature from the respondent and save as base64</description>
    </metadata>

    <compatibility>
        <version>3.0</version>
        <version>4.0</version>
        <version>5.0</version>
        <version>6.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/signature.css</filename>
        </css>
        <js>
            <filename>scripts/signature_pad.umd.min.js</filename>
        </js>
        <preview>
            <filename>images/signature.png</filename>
        </preview>
    </files>

    <attributes>
		<!-- Hide some core attributes -->
		<attribute>
			<name>prefix</name>
			<category>Display</category>
			<inputtype/>
		</attribute>
		<attribute>
			<name>display_rows</name>
			<category>Display</category>
			<inputtype/>
		</attribute>
    </attributes>

    <custom_attributes>
        <attribute>
            <name>pen_colour</name>
            <category>Display</category>
            <inputtype>text</inputtype>
            <default>black</default>
            <help>Choose the colour of the pen in CSS notation such as : rgb(66, 133, 244) or black</help>
            <caption>Pen colour: </caption>
        </attribute>
        <attribute>
            <name>background_colour</name>
            <category>Display</category>
            <inputtype>text</inputtype>
            <default>rgba(0,0,0,0)</default>
            <help>Choose the colour of the background in CSS notation such as : rgba(0,0,0,0) for transparent or white</help>
            <caption>Background colour: </caption>
        </attribute>
        <attribute>
            <name>min_width</name>
            <category>Display</category>
            <inputtype>text</inputtype>
            <default>0.5</default>
            <help>Choose the width of the line</help>
            <caption>Signature line minimum width: </caption>
        </attribute>
        <attribute>
            <name>max_width</name>
            <category>Display</category>
            <inputtype>text</inputtype>
            <default>2.5</default>
            <help>Choose the maximum width of the line</help>
            <caption>Signature line maxiumum width: </caption>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
